@import url("https://fonts.googleapis.com/css2?family=Hubballi&family=Montserrat:wght@300;400;500;600&family=Roboto:wght@300;400;500;700&display=swap");
body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fff;
  color: #212529;
}

body .h2 {
  font-size: 44px;
}

body .btn-danger {
  border-color: #00C65E !important;
}

body .nav-01 {
  padding: 20px 0;
  border-bottom: 1px solid #eceef4;
}

body .nav-01 .skoring a {
  border-color: #00C65E;
  cursor: pointer;
  color: #00C65E;
  font-weight: 500;
  padding: 15px;
  border-radius: 10px;
}

body .nav-01 .skoring a i {
  padding-right: 10px;
}

body .nav-01 .skoring a:hover {
  color: #fff;
  background-color: #00C65E;
}

body .nav-01 .search input {
  border-color: #00C65E;
  color: #00C65E;
  font-weight: 500;
  padding: 27px;
  border-radius: 10px 0 0 10px;
}

body .nav-01 .search input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #00C65E;
}

body .nav-01 .search a {
  border-radius: 0 15px 15px 0;
  padding: 15px 17px;
  background-color: #00C65E;
}

body .nav-01 .contact i {
  color: #00C65E;
  font-size: 20px;
}

body .nav-01 .contact p {
  margin: 0 0 0 10px;
}

body .nav-01 .my_Btn a {
  color: #fff;
  background: #00C65E;
}

body .nav-01 .my_Btn a:hover {
  border-color: 1px solid #00C65E;
  background-color: #fff;
  color: #00C65E;
}

body .nav-02 {
  padding: 20px 0;
  border-radius: 0 0 16px 16px;
  -webkit-box-shadow: 0 9px 11px rgba(31, 41, 124, 0.08);
          box-shadow: 0 9px 11px rgba(31, 41, 124, 0.08);
}

body .nav-02 .katalog {
  position: relative;
}

body .nav-02 .katalog::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0px;
  width: 2px;
  height: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: silver;
}

body .nav-02 .katalog i {
  margin-right: 8px;
}

body .nav-02 .btn {
  font-size: 16px;
  font-weight: 600;
  color: #282830;
  text-transform: uppercase;
}

body .nav-02 .btn:hover {
  color: #00C65E;
}

body .nav-02 .btn-light {
  border-radius: 10px;
  padding: 9px 16px;
  background: #d9d9d97a;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

body .pop-categories .card {
  background: #eceef4b3;
  padding: 25px 10px;
  overflow: hidden;
  border-radius: 12px;
}

body .pop-categories .card .card-body p {
  font-size: 18px;
  line-height: 20px;
  margin-top: 10px;
  font-weight: 500;
  color: #282830;
}

body .pop-categories .card .card-body .cardImg {
  position: relative;
  text-align: center;
}

body .pop-categories .card .card-body .cardImg::after {
  content: '';
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  background: #767676;
  width: 150px;
  height: 150px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

body .pop-categories .card .card-body .cardImg::before {
  content: '';
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

body .pop-categories .card::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(rgba(255, 255, 255, 0.9)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 100%);
  border-radius: 0 0 0 50%;
}

body .pop-categories .card:hover::after {
  -webkit-animation: anim .5s ease-in-out 1;
          animation: anim .5s ease-in-out 1;
}

@-webkit-keyframes anim {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

@keyframes anim {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}

body .pop-categories h2 {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 30px;
}

body .pop-categories .pop-category a {
  text-decoration: none;
  color: #282830;
}

body .pop-categories .pop-category .card {
  border-radius: 10px;
}

body .pop-categories .pop-category .card a {
  padding: 10px;
}

body .pop-products {
  padding: 50px 0 0 0;
}

body .pop-products .pop-pro-sidebar a {
  overflow: hidden;
  display: block;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  border-radius: 16px;
}

body .pop-products .pop-pro-sidebar a img {
  border-radius: 16px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

body .pop-products .pop-pro-sidebar a img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

body .pop-products .pop-product .myCard {
  padding: 20px;
  border-radius: 16px;
  background: #fff;
  height: 100%;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

body .pop-products .pop-product .myCard h5 {
  color: rgba(40, 40, 48, 0.5);
  font-weight: 600;
  margin-top: 20px;
  font-size: 15px;
}

body .pop-products .pop-product .myCard h4 {
  font-weight: bold;
  color: #00C65E;
  font-size: 17px;
  margin: 20px 0 14px;
}

body .pop-products .pop-product .myCard p {
  font-size: 14px;
  height: 42px;
}

body .pop-products .pop-product .myCard .line {
  margin: 20px 0 19px;
  width: 100%;
  height: 1px;
  background-color: rgba(40, 40, 48, 0.1);
}

body .pop-products .pop-product .myCard h3 {
  font-weight: 500;
  color: #282830;
  font-size: 15px;
}

body .pop-products .pop-product .myCard:hover {
  -webkit-box-shadow: 2px 3px 10px #0072ff40;
          box-shadow: 2px 3px 10px #0072ff40;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

body .brands .slider {
  background-color: #fff;
  padding: 20px;
  overflow: hidden;
  position: relative;
  margin: 40px auto;
  border-radius: 10px;
}

body .brands .slider::after, body .brands .slider::before {
  content: '';
  position: absolute;
  width: 200px;
  height: 100%;
  z-index: 20;
}

body .brands .slider::before {
  left: 0;
  top: 0;
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(transparent));
  background: linear-gradient(90deg, #fff, transparent);
}

body .brands .slider::after {
  right: 0;
  top: 0;
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(#fff));
  background: linear-gradient(90deg, transparent, #fff);
}

body .brands .slider .slide img {
  width: 100%;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}

body .footer .footer__link {
  font-size: 18px;
  font-weight: 500;
  color: #282830;
  line-height: 22px;
}

body .footer .footer__title {
  font-size: 22px;
  font-weight: 500;
  color: #282830;
  margin-bottom: 20px !important;
}

body .footer p {
  font-size: 16px;
  font-weight: 500;
  color: rgba(40, 40, 48, 0.8);
  line-height: 19px;
}

body .footer .footer__links {
  font-size: 18px;
  font-weight: 500;
  color: rgba(40, 40, 48, 0.6);
}

body .footer .socials a {
  font-size: 28px;
  color: rgba(40, 40, 48, 0.6);
  margin-right: 20px;
}

body .view .swiper {
  height: auto !important;
}

body .view .view-left {
  margin-top: 30px;
  padding: 30px;
  border-radius: 16px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

body .view .view-left .swiper {
  width: 100%;
  height: 100%;
}

body .view .view-left .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body .view .view-left .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .view .view-left .swiper {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

body .view .view-left .swiper-slide {
  background-size: cover;
  background-position: center;
}

body .view .view-left .mySwiper2 {
  height: 80%;
  width: 100%;
}

body .view .view-left .mySwiper {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0;
}

body .view .view-left .mySwiper .swiper-slide {
  opacity: 0.4;
}

body .view .view-left .mySwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body .view .view-left .info table td {
  padding: 10px 0 12px;
  font-size: 15px;
  font-weight: 500;
  color: #282830;
  line-height: 18px;
  border-bottom: 1px solid rgba(40, 40, 48, 0.1);
}

body .view .view-left .info .all-btn {
  border-radius: 16px;
  border: 1px solid #eceef4;
}

body .view .view-left .info .all-btn:hover {
  border-color: #241cf0;
  color: #241cf0;
}

body .view .view-right {
  margin-top: 30px;
  padding: 16px;
  border-radius: 16px;
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

body .view .view-right h6.full__price {
  font-size: 22px;
  line-height: 27px;
  color: rgba(40, 40, 48, 0.5);
  margin-bottom: 20px !important;
}

body .view .view-right h6.full__price span {
  font-size: 18px;
  line-height: 23px;
}

body .view .view-right h6.monthly__price {
  font-size: 30px;
  line-height: 38px;
  font-weight: 500;
  color: #282830;
  margin-bottom: 20px !important;
}

body .view .view-right h6.monthly__price span {
  line-height: 23px;
  font-size: 18px;
}

body .view .view-right .delivery {
  margin-bottom: 20px;
}

body .view .view-right .delivery i {
  font-size: 20px;
  -webkit-transform: translate(0px, 10px);
          transform: translate(0px, 10px);
  margin-right: 10px;
}

body .view .view-right .delivery .delivery__title {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  color: rgba(40, 40, 48, 0.86);
  line-height: 19px;
}

body .view .view-right .qanaqadir__link a {
  width: 100%;
  padding: 15px 11px;
  display: block;
  margin-bottom: 20px;
  border: 1px solid rgba(40, 40, 48, 0.1);
  font-size: 14px;
  font-weight: 600;
  color: #241cf0;
  line-height: 18px;
  text-decoration: underline;
  border-radius: 16px;
  outline: none !important;
}

body .view .view-right .qanaqadir__link a:hover {
  text-decoration: underline !important;
}

body .view .view-right .price-btn {
  font-size: 18px;
  padding: 15px 21px;
  line-height: 23px;
  padding: 23px;
  border-radius: 16px;
  font-weight: 500;
  color: #fff;
}

body .viewTable {
  margin-top: 100px;
}

body .viewTable .section-info {
  padding: 16px;
}

body .viewTable .section-info h2 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 30px;
}

body .viewTable .section-info h4 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}

body .viewTable .section-info .info table tr {
  margin-bottom: 15px;
}

body .viewTable .section-info .info table tr td {
  padding: 10px 0 12px;
  font-size: 20px;
  font-weight: 500;
  color: #282830;
  line-height: 18px;
  border-bottom: 1px solid rgba(40, 40, 48, 0.1);
}

body .viewTable .section-info .info table .text-left {
  color: #818181;
}
/*# sourceMappingURL=main.css.map */