.oferta {
    padding-top: 48px;
    padding-bottom: 40px;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    background-repeat: repeat;
    background-image: url(../../img/bgImage.svg);

    .myCol {
        padding: 30px 60px;
        background: #fff0;
        border-radius: 16px;
        backdrop-filter: blur(10px);

        h1 {
            font-size: 44px;
            margin-bottom: 40px !important;
            text-align: center;
            font-weight: 600;
        }

        h6 {
            font-size: 18px;
            font-weight: 700;
            color: #282830;
            line-height: 20px;
            margin-bottom: 16px;
        }

        p {
            font-size: 16px;
            font-weight: 500;
            color: #282830;
            line-height: 20px;
            margin-bottom: 16px;
            padding-left: 12px;
        }

        h5 {
            font-size: 16px;
            font-weight: 700;
            color: #282830;
            line-height: 20px;
            margin-bottom: 16px;
        }
    }
}